
.header {
  overflow: hidden;
  background-color: #000000;
  padding: 20px 10px;
}


.header a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header img {
		margin-left: 2%;
    width:3%;
		background-color: #E2E2E2;
}


.header a:hover {
  background-color: #ddd;
  color: black;
}


.header a.active {
  background-color: dodgerblue;
  color: white;
}


.header-right {
  float: right;
}


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
/* carrusel*/
#carouselExampleFade{
  height: 80vh;
  width: 80vw;
}

.carousel-item{
  margin-left: 25%;
  height: 100vh;
  width: 100vw;
}

#carousel-01{
  background-image: url(../img/s1.jpg);
  background-position: center;
}

#carousel-02{
  background-image: url(../img/s2.jpg);
  background-position: right;
}

#carousel-03{
  background-image: url(../img/s3.jpg);
  background-position: left;
}

#carousel-01, #carousel-02, #carousel-03{
  background-size: cover;

}

/* Body*/

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



body{
	background: #E2E2E2;
	font-family: "Lato";
}

.portafolio{
	width: 90%;
	max-width: 1400px;
	margin: auto;
}

.portafolio h1{
	text-align: center;
	font-size: 38px;
	margin: 15px 0px 40px;
}

.portafolio-container{
	display: flex;
  flex-wrap: wrap;
}

.portafolio-item{
	width: 80%;
	position: relative;
	overflow: hidden;
  padding-bottom: 20px;
  margin-color:1px ;
}

.portafolio-img{
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.portafolio-text{
	position: absolute;
	bottom: 0;
	padding: 20px;
	background-color: rgba(0,0,0,0.7);
	color: #ffffff;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.portafolio-text p{
	text-align: justify;
}

.portafolio-item:hover .portafolio-text{
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.portafolio-item:hover .portafolio-img{
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}
