*{
  margin: 0;
  padding: 0;
}

body{
  	background: #E2E2E2;
  	font-family: "Lato";
}


.header {
  overflow: hidden;
  background-color: #000000;
  padding: 20px 10px;
}


.header a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header img {
		margin-left: 2%;
    width:3%;
		background-color: #E2E2E2;
}


.header a:hover {
  background-color: #ffffff;
  color: black;
}


.header a.active {
  background-color: dodgerblue;
  color: white;
}


.header-right {
  float: right;
}


.oswald{
  font-family: 'Oswald', sans-serif;
}

hr{
  border: solid 1px #000000;
}

h1,h5{
  font-family: 'Lato', sans-serif;
}



#carouselExampleFade{
  height: 100vh;
  width: 100vw;
}

.carousel-item{
  height: 100vh;
  width: 100vw;
}

#carousel-01{
  background-image: url(../img/s1.webp);
  background-position: center;
}

#carousel-02{
  background-image: url(../img/s2.jpg);
  background-position: right;
}

#carousel-03{
  background-image: url(../img/s3.jpg);
  background-position: left;
}

#carousel-01, #carousel-02, #carousel-03{
  background-size: cover;

}

.perfil img{
  width: 100%;
  border: solid 3px #000000;
}

.justme{
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .nombre{text-align: center;}
  .titulo-exp{margin-top: 80px;}
  .borde5{border: solid 5px white;}}

@media (min-width: 992px) {
  .nombre{text-align: left;}}


.estudio img{
  width: 120px;
}

.estudio{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.typeform-widget{
  padding-top: 2.7%;

}


.item img{
  width: 100%;
}

.item{
  padding: 0;
}


footer{
  background: #000000;
}

footer i {
  color: white;
  font-size: 30px;
}

footer i:hover {
  opacity: 80%;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: inline-block;
  margin: 0 1em;
  vertical-align: middle;
}
